<h1> Sign up </h1>

<div> <%= alert %>

<form action="/insert_user_record">
  <p>
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter a username">
  </p>

  <p>
  <label for="browser_password" > Password </label>
  <input id="browser_password" name = "input_password" type = "password" placeholder = "Enter a password" >
  </p>

  <p>
  <label for="browser_password_confirm" > Confirm Password </label>
  <input id="browser_password_confirm" name = "input_password_confirm" type = "password" placeholder = "Confirm your password" >
  </p>

  <button>Sign up</button>

</form>